/* #icons-container {
    display: none;
} */
.food-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none; /* Ensure the icon does not block mouse events */
    transform: translate(-0%, -0%) scale(1);
    transition: transform 1.2s, opacity 1s;
    opacity: 1;
    z-index: 1000;
}
.food-icon.active {
    transform: translate(-50%, 120%) scale(0);
    opacity: 0;
}
#food-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none; /* Ensure the icon does not block mouse events */
    display: none; /* Hide initially */
}