* {
  margin: 0px;
  padding: 0px;
}

/* Navbar */
.navbar[data-bs-theme="dark"] {
  --bs-navbar-color: white;
}

[data-bs-theme="dark"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.center-links .nav-item .nav-link:hover {
  color: #f13800e4;
}

.end-links .nav-item .nav-link:hover {
  color: rgba(255, 183, 0, 0.705);
}

.navbar-nav .nav-link.active {
  color: #dc3545;
  border-bottom: 2px solid #dc3545;
}

/* Home carousel/slider  */
#homeSlider .homeimg {
  max-height: 170vh;
  max-width: 300%;
}

#homeSlider .carousel-caption {
  top: 2rem;
  padding: 0px;
  left: 10%;
  right: 10%;
}

.slider-title {
  font-size: calc(1.3rem + 6.7vw);
  line-height: 1.1em;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.slider-subtitle {
  font-size: 1.2rem;
  color: hsl(38, 61%, 73%);
  font-weight: 700;
  letter-spacing: 0.4em;
  margin-bottom: 0;
}

.slider-text {
  font-size: 1.3rem;
  line-height: 1.1em;
  color: #dddddd;
  font-weight: 700;
  margin-bottom: 2rem;
}

.slider-button {
  letter-spacing: 3px;
  max-width: max-content;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8em 1.5em;
  border: 3px solid white;
  transition: 500ms ease;
}

#homeSlider .slider-button:is(:hover, :focus-visible, :active){
  background-color: hsl(38, 61%, 73%);
  color: hsla(40, 12%, 5%, 1);
  border-color: hsla(40, 12%, 5%, 1);
  letter-spacing: 0.25rem;
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

#homeSlider .carousel-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#homeSlider .carousel-item.active .slider-subtitle {
  animation-delay: 500ms;
}

#homeSlider .carousel-item.active .slider-title {
  animation-delay: 1000ms;
}

#homeSlider .carousel-item.active .slider-text {
  animation-delay: 1.5s;
}

#homeSlider .carousel-item.active .slider-button {
  animation-delay: 2s;
}

#homeSlider .carousel-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

