@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Bree Serif", serif;
    margin: 0;
    padding: 0;
}

.mainhead {
    text-align: center;
    padding-top: 20px;
    background: rgba(101, 5, 5, 0.597);
    padding-bottom: 20px;
    color: black;
}

.cart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px;
    width: 100%;
}

#couponCode {
    position: relative;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 1.2rem;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #f2f2f2;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 0;

}

#couponCode::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ffea00 50%, #ff9233 50%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translate(-100%, -100%);
    opacity: 0;
    z-index: -1;
}

#couponCode:hover::before {
    transform: translate(0, 0);
    opacity: 1;
}

#couponCode:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
    cursor:pointer;
}

#couponCode p {
    position: relative;
    z-index: 1;
    color: black;
}

#couponCode:hover p {
    color: black;
}

.cart {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    
}

.empty-cart,
.cart-details {
    width: 100%;
}

#cart-items,
#cart-total {
    width: 100%;
}

.cart-item {
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid gray;
}

.cart-item:hover {
    background-color: rgb(229, 229, 229);
}

.cart-item img {
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(196, 74, 74);
}

.detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    gap: 10px;
}

.quantity-wrapper {
    padding: 5px;
    border-radius: 25px;
    border: 1px solid gray;
}

.quantity-wrapper * {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.remove {
    line-height: 25px;
}

.btn:hover {
    background-color: rgb(196, 74, 74);
    color: white;
    cursor: pointer;
    margin: 0 5px;
    position: relative;
    top:-1px;
}

.decrease-quantity.disable {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
}

#cart-total {
    padding-top: 15px;
    text-align: right;
    color: rgb(196, 74, 74);
}

#cart-total span {
    font-size: 13px;
    color: gray;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.empty-cart * {
    text-align: center;
    color: black;
}

.empty-cart p {
    max-width: 500px;
    width: 100%;
}

.empty-cart h4,
.empty-cart button {
    margin: 20px;
}

input,
textarea {
    width: 100%;
}

.coupen {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 40px;
    color: black;
    z-index: 20;
}

@media all and (max-width: 768px) {
    .cart {
        width: 100%;
    }

    .detail {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        gap: 5px;
    }
}

.congomessagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(22, 22, 18);


.donate-button {
    text-align: center;
    margin-top: 20px;
}

#donateBtn {
    background-color: #007bff;
    color: #fff;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#donateBtn:hover {
    transform: scale(1.2);
    background-color: #0056b3
}

=======
.checkout-btn:hover {
    background-color: rgb(0, 68, 169);
    transform: translateY(2px);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url('../Images/congo-box-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to top, rgb(246, 10, 10), rgb(248, 145, 49), rgb(236, 239, 56));
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff0707;
    border-radius: 10px;
    border: 0.3px solid white;
    background-image: -webkit-linear-gradient(90deg, rgb(20, 21, 12) 0%, rgb(0, 0, 0) 25%, transparent 100%, rgb(247, 4, 4) 75%, transparent)
}

.playfair {
    font-family: "Playfair Display", serif;
}

.row {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .row {
        width: 100%;
    }
}

#info-checkout {
    margin: 0;
    display: flex;
    padding: 8px;
    flex-direction: column;
}

#label-checkout {
    padding-bottom: 4px;
}

.address-text {
    min-width: 100px;
    width: 50rem;
}

.address-btn a {
    text-decoration: none;
    color: black;
    background-color: #f11a1a;
    padding: 4px 6px;
    border: 1px solid black;
    border-radius: 5px;
}

.inputForCoupon {
    margin-top: 20px;
    text-align: center;
}

.inputForCoupon label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.enterCouponCode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#inputCode {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#applyCouponButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#applyCouponButton:hover {
    background-color: #0056b3;
    transform: translateY(2px);

}

#orderNowButton {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#orderNowButton:hover {
    background-color: #218838;
    transform: translateY(2px);
}
