* {
    box-sizing: border-box;
    font-family: "Bree Serif", serif;
}
.navigbar {
    top: 40px;
  }
  .mainhead {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    /*padding-bottom: 50px;*/
  }
.cart-section {
    align-items: center;
    padding: 25px 15px;
    flex-direction: column;
}

.cart {
    padding: 1% 2%;
    width: 80%;
    margin-top: 20px;
    flex-direction: column;
}

#cart-items {
    width: 100%;
}

.cart-item {
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid gray;
}

.cart-item:hover {
    background-color: rgb(229, 229, 229);
}

.cart-item img {
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(196, 74, 74);
}

.detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    gap: 10px;
}

.quantity-wrapper {
    padding: 5px;
    border-radius: 25px;
    border: 1px solid gray;
}

.quantity-wrapper *,
.btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.remove {
    line-height: 25px;
}

.btn:hover {
    background-color: rgb(196, 74, 74);
    color: white;
}

.decrease-quantity.disable {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
}

#cart-total {
    padding-top: 15px;
    text-align: right;
    color: rgb(196, 74, 74);
}

#cart-total span {
    font-size: 13px;
    color: gray;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.empty-cart * {
    text-align: center;
    color: black;
}

.empty-cart p {
    max-width: 500px;
    width: 100%;
}
.empty-cart h4, .empty-cart button {
    margin: 20px;
}
input,
textarea {
    width: 100%;
}
.coupen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 10px; */
    padding: 10px;
    height: 40px;
    background-color: brown;
    color: aliceblue;
    z-index: 2000;
}
@media all and (max-width: 768px) {
    .cart {
        width: 100%;
    }
    .detail {
        flex-direction: column;
        justify-content: left;
        align-items:flex-start;
        gap: 5px;
    }
}