body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-image: linear-gradient(
      115deg,
      rgba(220, 96, 96, 0.456),
      rgba(7, 5, 7, 0.67)
    ),
    url(../Images/homeSliderImages/home-slider-3.jpg);
}

.header-hero {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-hero .container {
  position: relative;
}

.header-hero .header-hero-content {
  position: relative;
  color: #fff;
}

.header-hero .header-hero-image {
  margin-top: 50px;
}

.header-sub-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.text {
  font-size: 1rem;
  font-weight: 400;
}

.main-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-btn:hover {
  background-color: #000;
  color: #ffffff;
}

.content {
  position: relative;
  padding-top: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.text-center {
  text-align: center;
}

.text-3xl {
  font-size: 1.875rem;
}

.font-semibold {
  font-weight: 600;
}

.mb-8 {
  margin-bottom: 0.8rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.gap-8 {
  gap: 3rem;
}

.contributors {
  padding-top: 10px;
}

.contributor-card {
  width: calc(100% - 52px);
  max-width: 300px; /* Adjust this value as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fae4e4;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 13px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: inherit;
  margin-bottom: 16px;
}

.contributor-card:hover {
  transform: scale(1.06);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
  border: 4px solid black;
}

.contributor-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.text-lg {
  font-size: 1.125rem;
}

.text-gray-900 {
  color: #0c0c0c;
}

.text-gray-100 {
  color: #f7fafc;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.text-gray-700 {
  color: #870303;
}

.text-gray-400 {
  color: #cbd5e0;
}

.flex-center {
  display: flex;
  align-items: center;
}

.mr-1 {
  margin-right: 0.25rem;
}

.bg_cover {
  background-size: cover;
  background-position: center;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    to top,
    rgb(246, 10, 10),
    rgb(248, 145, 49),
    rgb(236, 239, 56)
  );
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ff0707;
  border-radius: 10px;
  border: 0.3px solid white;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(20, 21, 12) 0%,
    rgb(0, 0, 0) 25%,
    transparent 100%,
    rgb(247, 4, 4) 75%,
    transparent
  );
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dc3545;
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .contributor-card {
    width: calc(50% - 16px);
  }
}

@media (min-width: 1024px) {
  .contributor-card {
    width: calc(33.3333% - 16px);
  }
}
