* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color:black;
}

.head_container:before {
  background-image: url(https://cdn.tasteatlas.com//images/toplistarticles/d0e6a0a79d5f4197a51f4ca065393ffe.jpg?mw=1300);
  content: "";
  position: absolute;
  height: 238px;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
  
}

.head_container_service{
  height:500px;
}
.head_container_service:before {
  background-image: url(https://cdn.tasteatlas.com//images/toplistarticles/d0e6a0a79d5f4197a51f4ca065393ffe.jpg?mw=1300);
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
  
}

.navbar {
  padding: 8px 10px;
}
.navbar ul {
  overflow: hidden;
}

.navbar li {
  float: left;
  list-style: none;
  padding: 8px 20px;
}
.navbar li:hover {
  opacity: 0.7;
}

.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
/* Styling for the contact navbar */
.navbarbg {
  padding: 8px 0;
  background-color: rgb(169, 33, 33); /* Maroon background color */
  text-align: center; /* Align contents to center */
}

/* Styling for the list items */
.navbarbg ul {
  display: inline-block; /* Ensure the list is displayed horizontally */
  padding-left: 0; /* Remove default padding */
}

/* Styling for the list items */
.navbarbg li {
  display: inline-block; /* Display list items horizontally */
  list-style: none;
  margin: 0 10px; /* Add some space between items */
}

/* Styling for the links */
.navbarbg li a {
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

/* Hover effect for list items */
.navbarbg li:hover {
  opacity: 0.7;
}


.menu_container {
  padding: 55px 70px 30px 70px;
  background-color:  rgb(224, 224, 252);
}
.menu_container h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color:rgb(138, 37, 37);
  padding-left: 50px;
}
.mainhead {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.mainhead h1 {
  font-family: "Bree Serif", serif;
  font-size: 3.8rem;
  color: white;
  padding-bottom: 20px;
}
.head_container_service .mainhead {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 210px;
}

/* .mainhead p {
  font-size: 1.2rem;
  color: brown;
  font-family: "Bree Serif", serif;
  margin: 15px 10px;
} */

.but {
  border: 1.3px solid brown;
  font-size: 1.1rem;
  padding: 3px 25px;
  border-radius: 4px;
  font-family: "Bree Serif", serif;
  color: brown;
  background-color: #f2f2f2;
}
.butt {
  border: 1.3px solid brown;
  font-size: 1.1rem;
  padding: 3px 63px 5px 63px;
  border-radius: 4px;
  font-family: "Bree Serif", serif;
  margin-top: 8px;
  background-color: brown;
  color: white;
}

.butt:hover {
  background-color: rgb(196, 74, 74);
}

.menu_items {
  display: flex;
  justify-content: center;
}

.menu_items .items {
  background-color: #f2f2f2;
  /* border: 2px solid brown;
  box-shadow: 0 0 10px rgba(138, 37, 37, 0.5); */
  box-shadow: 0 0 10px rgba(224, 224, 252, 0.678);
  border: 1px solid rgb(186, 186, 201);
  padding: 40px;
  margin: 5px;
  height: 310px;
  width: 230px;
  border-radius: 10px;
  text-align: center;
  font-family: "Bree Serif", serif;
}

.menu_items .items img {
  justify-content: center;
  height: 190px;
  width: 230px;
}

.menu_items .items h3 {
  font-size: 1.1rem;
  margin-top: 10px;
}

.menu_items .items p {
  margin-bottom: 20px;
}

.menu_items .items:hover {
  cursor: pointer;
  scale: 1.02;
}

.first_cont {
  display: flex;
  justify-content: center;
}

.first_cont .items {
  background-color: #f2f2f2;
  border: 3px solid rgba(138, 37, 37);
  box-shadow: 0 0 20px rgba(138, 37, 37, 0.5);
  padding: 25px 10px;
  margin: 15px;
  height: 270px;
  width: 230px;
  border-radius: 10px;
  text-align: center;
  font-family: "Bree Serif", serif;
}

.first_cont .items img {
  justify-content: center;
  height: 160px;
  width: 200px;

}

.first_cont .items h3 {
  font-size: 1.2rem;
  margin: 10px ;
}

.first_cont .items p {
  margin-bottom: 20px;
}

/* service */
.service_container {
  /* padding: 55px 70px 30px 70px; */
  background-color:  rgb(224, 224, 252);
}

.second_cont{
  display: flex;
  padding: 40px;
  justify-content: center;
}
.second_cont1{
  display: flex;
  padding: 0px 20px 100px 20px;
  justify-content: center;
}

.deals{
  display: flex;
  background-color: white;
  border: 2px solid rgb(138, 37, 37);
  /* box-shadow: 0 0 10px rgba(138, 37, 37, 0.5); */
  border-radius: 10px;
  padding:15px 30px;
  margin:20px 50px;
}

.deals p{
  font-size: 1.1rem;
  /* font-weight: bold; */
  padding-top: 2px;
  font-family: "Bree Serif", serif;
}
.deals i{
  margin: 0px 10px;
  padding: 0px 10px;
  font-size: 2rem;
}

/* testimonal */
.testimonalsection{
  padding-top: 400px;
}
.testimonal__container{
  display: flex;
  padding: 3rem;
}
.testimonal__card{
  text-align: center;
  padding:2rem 3rem 2.5rem;
  border:2px solid rgba(224, 224, 252, 0.678);
  transition:border .4s,background-color .4s;
  background-color: white;
  box-shadow: 0 0 10px rgba(224, 224, 252, 0.678);
  border: 1px solid rgb(186, 186, 201);
  padding:40px 30px ;
  margin: 5px;
  color:rgb(107, 107, 122);
}
.testimonal__image{
  width:100px;
  height:100px;
  border-radius:50%;
  margin:0 auto 1.5rem;
}
.testimonal__title{
  margin-bottom: .75rem;
}
.testimonal__description{
  margin-bottom: 1.25rem;
}
.section__title{
  text-align: center;
  font-size: 2rem;
  color:rgb(58, 58, 66);
}

/* footer */
.foot-panel2{
    background-color: rgb(138, 37, 37);
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 50px; */
}

.footer-colums{
    margin-top: 20px;
}

.footer-colums p{
    font-weight: 700;
}

.footer-colums a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

/* .foot-pannel3{
    background-color:rgb(66, 16, 16);
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
} */

.foot_panel4{
    background-color: rgb(66, 16, 16);
    color: white;
    height: 160px;
    font-size: 0.9rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
  background-color: rgb(66, 16, 16);
   padding-top: 10px;
}

form {
    padding-top: 20px;
    display: grid;
    /* gap: 10px; */
    padding-bottom: 100px;
}

label {
    font-weight: bold;
}

input,
textarea {
    height:30px;
    width: 120%;
    padding: 2.5px;
    box-sizing: border-box;
    border-radius: 2px;
}

#butt{
    background-color:rgb(66, 16, 16);
    color: white;
    border: 1px solid white ;
    border-radius: 2px;
    cursor: pointer;
}

#butt :hover {
    background-color:rgb(196, 89, 89);
}

.social-icons a {
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 50%;
  transition: .2s;
}

.fa-facebook:hover {
  background-color: #3B5998;
  color: white;
}

.fa-instagram:hover {
  background-color: #D62976;
  color: white;
}

.fa-twitter:hover {
  background-color: #00B6F1;
  color: white;
}

.fa-github:hover {
  background-color: #040204;
  color: white;
}

/* Cart page styling */
.cart-section{
  padding: 55px 70px 30px 70px;
  background-color:  rgb(224, 224, 252);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart{
  width: 80%;
  background-color: #f2f2f2;
  text-align: center;
  font-family: "Bree Serif", serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.cart table,th,td{
  text-align: center;
  border: 2px solid black;
  width: 75%;
}

#bill{
  color: rgb(196, 74, 74);
}
.star-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc; /* Default color for empty star */
  font-size: 15px;
  padding: 0;
}

.star-button:hover,
.star-button:focus {
  color: #f1c40f; /* Yellow color for filled star */
  outline: none;
}

.star-button.rated {
  color: #f1c40f; /* Yellow color for filled star */
}
.menu_items .items {
  position: relative;
  /* Ensure relative positioning for the parent container */
}


/* Cart -> Input Section for Coupon Code  */

#haveCoupon {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.inputForCoupon {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.enterCouponCode {
  display: flex;
  gap: 1rem;
}

#inputCode {
  padding: 18px;
  margin-right: 10px;
  width: 250px;
  border-radius: 0.3rem;
  background-color: white;
  font-size: medium;
  border: 2px solid black;
}

#inputCode:hover {
  border: 2px solid #A52A2A;
}

#applyCouponButton {
  width: 5rem;
  border-radius: 0.3rem;
  padding: 10px 20px;
  background-color: #A52A2A;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#applyCouponButton:hover {
  background-color: #a52a2ad7;
}


/* updated nav bar */
nav{
  height: 3rem;
  background: #0000007c;

}
.navigbar{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 95%;
  margin: 0 auto;
  
}
.logo{
  color: rgba(255, 183, 0, 0.705);
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.ul1,.ul2{
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
  flex: 1; /* Distribute remaining space equally */
  justify-content: center; /* Center items horizontally */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
.ul1 li a, .ul2 li a{
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.ul1 li a:hover{
  color:#f13800e4;
}
.ul2 li a:hover{
  color: rgba(255, 183, 0, 0.705) ;
}
.cart{
  color: white;
}



 