#translateButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 50px;  
    height: 50px;
    border-radius: 50%; 
    border: none; 
    background: linear-gradient( rgb(234, 16, 16), #f2a736);

    color: white; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.3s ease;
    margin-right: 1390px;
    margin-bottom: 55px;
}
#translateButton:hover {
    transform: scale(1.2); 
}

/* The popup modal */
.popup {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
   
}

/* Popup content */
.popup-content {
    background-color: #CF2123; 
    margin-top: 600px;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
    position: relative;
    margin-right: 1300px;
    margin-top:570px;
}

/* Close button */
.close {
    color: #073725;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Hide the default Google Translate widget */
.goog-te-banner-frame.skiptranslate, .goog-te-gadget-icon {
    display: none !important;
}

body {
    top: 0px !important;
}

/* Hide the "Powered by Google" branding */
.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    height: 28px !important;
    overflow: hidden;
}

/* Hide Google Translate notifications */
.goog-te-spinner-pos,
.goog-te-spinner,
.goog-te-balloon-frame,
.goog-te-banner-frame,
.goog-te-banner,
.goog-te-balloon {
    display: none !important;
}

/* Custom styles for the Google Translate dropdown */
#google_translate_element select {
    background: #ffffff; 
    border: 1px solid #ccc; 
    color: #CF2123; 
    padding: 5px; 
    font-size: 14px; 
    border-radius: 5px; 
}

/* Hide the Google Translate bar */
body > .skiptranslate {
    display: none !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
.goog-te-banner-frame {
    display: none !important;
}
.goog-te-banner {
    display: none !important;
}