/* .toggle-container {
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  right: -4px;
  top: 15px;
  position: fixed;
  top: 40px;
  right: 20%;
  z-index: 100;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 20px;
  margin-top: 10px;
} */


/* Hidden Checkbox */
.switch-checkbox {
  display: none;
}

.theme-switch {
  position: relative;
  width: 50px;
  height: 30px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

.theme-switch .light-mode-icon,
.theme-switch .dark-mode-icon {
  font-size: 19px;
  position: absolute;
  cursor: pointer;
  /* top: 50%; */
  transform: translateY(-50%);
  transition: opacity 0.5s ease, color 0.5s ease;
}

.theme-switch .light-mode-icon {
  color: #f39c12;
}

.theme-switch .dark-mode-icon {
  color: #bdc3c7;
  opacity: 0;
}

.toggle-button {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

/* Checkbox Checked State */
.switch-checkbox:checked + .theme-switch {
  background-color: #34495e;
}

.switch-checkbox:checked + .theme-switch .light-mode-icon {
  opacity: 0;
}

.switch-checkbox:checked + .theme-switch .dark-mode-icon {
  opacity: 1;
}

.switch-checkbox:checked + .theme-switch .toggle-button {
  transform: translateX(18px);
  /* background-color: #34495e; */
}
