/* Navbar */
.navbar[data-bs-theme="dark"] {
  --bs-navbar-color: white;
}

[data-bs-theme="dark"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-collapse.enddiv{
  flex-grow: 0;
}

.center-links .nav-item .nav-link:hover {
  color: #f13800e4;
}

.end-links .nav-item .nav-link:hover {
  color: rgba(255, 183, 0, 0.705);
}

.navbar-nav.center-links .active {
  color: #dc3545;
  border-bottom: 2px solid #dc3545;
}

.navbar-nav.end-links .active {
  color: rgba(255, 183, 0, 0.705);
  border-bottom: 2px solid rgba(255, 183, 0, 0.705);
}

#theme-toggle-icon{
  width: 30px;
  cursor: pointer;
}

.center-links .nav-item .dropdown-menu{
  background-color: black;
  border-radius: 0;
  border: none;
  padding-top: 0;
}

.dropdown-item{
  padding: 4px 8px;
  color: white;
  font-size: 15px;
}

.dropdown-item:active{
  background-color: #dc3545;
}