/* General Styles */
:root {
  --primary-bg-color: #ffffff;
  --primary-text-color: #333335;
  --secondary-bg-color: #f2f2f2;
  --accent-color: #9e5c48;

  /* Navbar Colors */
  --navbar-bg-color: #f2f2f2;
  --navbar-hover-color: #e5e5e5;

  /* Additional Colors */
  --container-bg: black;
  --drop-bg: #212123;
  --a: white;
  --nav: black;
  --invert: invert(1);
}

.dark-theme {
  --a: rgb(183, 175, 175);
  --drop-bg: #ffffff;
  --nav: white;
  --primary-bg-color: #212123;
  --primary-text-color: #ffffff;
  --secondary-bg-color: #333335;
  --accent-color: #9e5c48;
  --navbar-bg-color: #333335;
  --navbar-hover-color: #474749;
  --container-bg: rgb(224, 224, 252);
  --drop-bg: #ffffff;
  --a: black;
  --nav: white;
  --invert: invert(0);
}

/* Navbar */
.navbar {
  --bs-navbar-color: var(--a);
  background-color: var(--nav);
  gap: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-collapse.enddiv {
  flex-grow: 0;
}

/* Navbar Links */
.nav-link {
  position: relative;
  color: var(--a);
  text-shadow: 0 0 5px rgba(255,255,255, 0.75), 0 0 10px  rgba(255,255,255, 0.75), 0 0 15px rgba(255,255,255, 0.75), 0 0 20px rgba(255,255,255, 0.75);
  transition: color 0.3s, background-color 0.3s, text-shadow 0.3s;
}

.nav-link:hover {
  color: #fff;
  transform: scale(1.1);
  border-radius: 5px;
  text-shadow: 0 0 20px rgba(255, 165, 0, 1), 0 0 30px rgba(255, 165, 0, 1), 0 0 40px rgba(255, 165, 0, 1), 0 0 50px rgba(255, 165, 0, 1);
}

/* Center Links */
ul {
  gap: 5px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-links .nav-item .nav-link:hover {
  color: #f13800e4;
}

.center-links .nav-item .dropdown-menu {
  background-color: var(--drop-bg);
  color: var(--a);
  border-radius: 0;
  border: none;
  padding-top: 0;
}
/* cart-icon supersript */
/* .cart-subscript
{
  display :flex;
  width: 15px;
  height: 25px;
  background-color: rgb(76, 0, 255);
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 45px;
} */



/* End Links */
.end-links .nav-item .nav-link:hover {
  color: rgba(255, 183, 0, 0.705);
  
}

.navbar-nav.center-links .active {
  color: #dc3545;
  border-bottom: 2px solid #dc3545;
  gap: 10px;
}

.navbar-nav.end-links .active  {
  color: rgba(255, 183, 0, 0.705);
  border-bottom: 2px solid rgba(255, 183, 0, 0.705);
  gap: 10px;
}


/* Dropdown Items */
#theme-toggle-icon {
  width: 30px;
  height:30px;
  cursor: pointer;
}

.center-links .nav-item .dropdown-menu {
  background-color: var(--drop-bg);
  color: var(--a);
  border-radius: 0;
  border: none;
  padding-top: 0;
}

.dropdown-item {
  padding: 4px 8px;
  color: var(--a);
  font-size: 15px;
  background-color: var(--background-color);
  transition: background-color 0.3s, transform 0.3s;
}

.dropdown-item:active {
  background-color: #dc3545;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
}

/* Bubbles Animation */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://cdn.pixabay.com/photo/2015/04/17/12/20/soap-bubble-726523_960_720.png') repeat;
  z-index: -1;
  animation: moveBubbles 30s linear infinite;
  opacity: 0.5;
}

@keyframes moveBubbles {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
  }
}

/* Additional Styles for Dark Theme */
.dark-theme .nav-link {
  color: var(--a);
  text-shadow: 0 0 5px rgba(0255, 255, 255, 0.75), 0 0 10px rgba(0255, 255, 255, 0.75), 0 0 15px rgba(0255, 255, 255, 0.75), 0 0 20px rgba(0255, 255, 255, 0.75);
}

.dark-theme .nav-link:hover {
  text-shadow: 0 0 20px rgba(0, 255, 0, 1), 0 0 30px rgba(0, 255, 0, 1), 0 0 40px rgba(0, 255, 0, 1), 0 0 50px rgba(0, 255, 0, 1);
}
