:root {
  --a: white;
  --drop-bg: #212123;
  --nav: black;
  --primary-bg-color: #ffffff;
  --primary-text-color: #333335;
  --secondary-bg-color: #f2f2f2;
  --accent-color: #9e5c48;
  --navbar-bg-color: #f2f2f2;
  --navbar-hover-color: #e5e5e5;
  --card-bg-color: #ffffff;
  --card-hover-color: #f5f5f5;
  --footer-bg-color: #f2f2f2;
  --footer-hover-color: #e5e5e5;
}

.dark-theme {
  --a: black;
  --drop-bg: #ffffff;
  --nav: white;
  --primary-bg-color: #212123;
  --primary-text-color: #ffffff;
  --secondary-bg-color: #333335;
  --accent-color: #9e5c48;
  --navbar-bg-color: #333335;
  --navbar-hover-color: #474749;
  --card-bg-color: #2c2c2e;
  --card-hover-color: #373739;
  --footer-bg-color: #28282a;
  --footer-hover-color: #333335;

}

/* Navbar */
.navbar {
  --bs-navbar-color: var(--a);
  background-color: var(--nav);
}

 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-collapse.enddiv{
  flex-grow: 0;
}

.center-links .nav-item .nav-link:hover {
  color: #f13800e4;
}

.end-links .nav-item .nav-link:hover {
  color: rgba(255, 183, 0, 0.705);
}

.navbar-nav.center-links .active {
  color: #dc3545;
  border-bottom: 2px solid #dc3545;
}

.navbar-nav.end-links .active {
  color: rgba(255, 183, 0, 0.705);
  border-bottom: 2px solid rgba(255, 183, 0, 0.705);
}

#theme-toggle-icon{
  width: 30px;
  cursor: pointer;
}

.center-links .nav-item .dropdown-menu{
  background-color: var(--drop-bg);
  color:var(--a);
  border-radius: 0;
  border: none;
  padding-top: 0;
}

.dropdown-item{
  padding: 4px 8px;
  color: var(--a);
  font-size: 15px;
}

.dropdown-item:active{
  background-color: #dc3545;
}