*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
/* background cards size and rounding */
.container .card
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.container .card:hover
{
    height: 350px;
}
.container .card .imgbx
{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}
.container .card:hover .imgbx
{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.15);
}
.container .card .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content
{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.container .card:hover .content
{
    top: 150px;
    height: 250px;
}
.container .card .content h2{
    font-size: 1.33em;
    font-weight: 700;
    color: var(--clr);
}
.container .card .content p{
    color: #233;
}
.container .card .content a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: 8px;
    border-radius: 8px;
}