* {
    font-family: "Bree Serif", serif;
}

body{
    overflow-x: hidden;
}
.mainhead:hover h1 {
    color: rgb(138, 37, 37);

}

.section1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font-size: 4em;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(138, 37, 37), rgb(237, 116, 116), rgb(138, 37, 37));
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 3s infinite;
}

.section1>hr {
    opacity: 0;
    border-width: 2px;
}

.section1:hover>hr {
    border-bottom: 2px solid rgb(138, 37, 37);
    /* Add bottom border on hover */
    border-top: 2px solid rgb(138, 37, 37);
    width: 50%;
    opacity: 1;
}

#active-page {
    color: #dc3545;
    border-bottom: 2px solid #dc3545;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.head_container_service {
    height: fit-content;
}

.first_cont {
    flex-wrap: wrap;
}

.items {
    overflow: hidden;
    max-width: 230px;
}

.items img {
    transition: 0.3s;
    z-index: 12;
}

.items:hover img {
    transform: scale(1.1);
}

.but {
    transition: 0.5s;
    cursor: pointer;
}

.but:hover {
    background-color: rgb(138, 37, 37);
    color: white;
    transform: translateX(10px);
}

.testimonalsection {
    padding-top: 20px;
}

.fa-star,
.fa-star-half-stroke {
    color: goldenrod;
}

.testimonal__container {
    flex-wrap: wrap;
    justify-content: center;
}

.testimonal__title {
    color: rgb(138, 37, 37);
}

.testimonal__card {
    position: relative;
    background-color: transparent;
    border-radius: 5px;
    margin: 0;

}

.testimonal__image:hover {
    transform: translateY(10px);
}

.testimonal__swiper {
    background-color: white;
    margin: 5px;
    overflow: hidden;
    border: 2px solid rgb(138, 37, 37);
    border-radius: 5px;
    cursor: pointer;
    width: 330px;

}

.testimonal__swiper:hover {
    border-radius: 50%;
}

.testimonal__swiper>div {
    background-color: rgb(138, 37, 37);
    height: 33%;
    border-radius: 5px 5px 70% 70%;
    transition: 0.5s ease-in-out;
}

.testimonal__swiper:hover>div {
    height: 200%;
    border-radius: 20%;
}

.testimonal__swiper * {
    transition: 0.3s ease-in-out;
}

.testimonal__swiper:hover * {
    color: white;
}

.second_cont {
    flex-wrap: wrap;
}

.deals {
    flex: 1 1 300px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.deals:hover {
    transform: translateY(-10px);
    background-color: rgb(138, 37, 37);
    color: white;
    border-color: white;
}

input,
textarea {
    width: 100%;
}

#butt:hover {
    background-color: rgb(196, 89, 89);
}
footer{
    width: 100%;
}
.foot-panel2 {
    background-color: rgb(138, 37, 37);
    color: white;
    height: 300px;
    /* height: fit-content; */
    display: flex;
    /* padding: 10px; */
    justify-content: space-evenly;
}

.foot-panel2 ul {
    margin-top: 20px;
}

ul p {
    font-weight: 700;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

.foot-panel2 ul a:hover {
    text-decoration: underline;
    color: #dddddd;
}

/* .foot-pannel3{
    background-color:rgb(66, 16, 16);
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
} */



.foot_panel4 {
    background-color: rgb(66, 16, 16);
    color: white;
    height: 160px;
    font-size: 0.9rem;
    text-align: center;

}

.item {
    padding-bottom: 0px;
}

.pages {
    padding-top: 25px;

}

.copyright {
    padding-top: 10px;
}

form {
    padding-top: 20px;
    display: grid;
    /* gap: 10px; */
    padding-bottom: 100px;
}

label {
    font-weight: bold;
}

input,
textarea {
    height: 30px;
    width: max-content;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: #212123 1px;
}

#butt {
    background-color: rgb(66, 16, 16);
    color: white;
    padding: 3px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

#butt:hover {
    background-color: rgb(196, 89, 89);
}

.social-icons a {
    font-size: 1.2rem;
    padding: 15px;
    text-decoration: none;
    /* color: white; */
}

.fb {
    color: #1877F2;
    cursor: pointer;
}

.instagram {
    color: #dd4c8d;
    cursor: pointer;
}

.twitter {
    color: #1DA1F2;
    cursor: pointer;
}

#author {
    /* background-color: #871a7e; */
    padding: 3px;
    border-radius: 3px;
}

@media screen and (max-width:500px) {
    .menu_items .items {
        max-width: fit-content;
        max-height: fit-content;
    }

    /* .menu_items .items {
        max-width: fit-content;
        max-height: fit-content;

        
    } */

    #about .box {
        padding: 30px;
        margin: 2px 10px;
        margin-bottom: 25px;
        /* float: left; */
    }

    /* border-radius: 28px; */
    /* background: #f2f2f2; */
    /* margin-bottom: 20px; */
    /* float: left; */


    .pages {
        height: fit-content;
        padding: 8px;
    }

    .foot-panel2 {
        padding: 20px;
    }

}

/* responsiveness  */

@media screen and (max-width:1120px) {
    #about {
        /* margin: 34px; */
        flex-direction: column-reverse;

    }

    .service {
        flex-direction: column;
        padding: 5px;
        /* box-sizing: fixed; */
    }

    .service .box {
        padding: 20px 20px;
        /* border: 2px solid rgb(224, 224, 252); */
        text-align: center;
        font-size: 1.3rem;
    }

    .service_container {
        height: fit-content;
        /* height: 1000px; */
    }

    .service .box_main h1 {
        font-size: 3.5rem;
    }

    .service_container:before {

        /*  
        height: 560px;
        */
        /* height: 800px; */
        /* height: fit-content; */
        background-size: cover;
        width: 100%;
        /* background-repeat: no-repeat; */
        /* justify-items: center; */
        opacity: 0.4;
        z-index: -1;
        /* background-repeat: no-repeat; */
    }


    .menu_items {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:780px) {
    .app_download {
        padding: 40px 20px;
        height: fit-content;
    }


    .foot-panel2 {

        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, minmax(20px, 1fr));

        /* flex-direction: column; */
        grid-template-columns: 2;
        padding: 30px;

    }

    .foot-panel2 ul {
        margin-top: 20px;
    }

    input,
    textarea {
        height: 30px;
        width: 90%;
        padding: 3px;
        margin: 4px;
        box-sizing: border-box;
        border-radius: 2px;
    }

    #butt {
        padding: 3px;
        margin: 4px;
        width: 90%;
    }

}

.btn {
    cursor: pointer;
}

.contact_page {
    background-color: rgb(213, 213, 238);
    /*background:linear-gradient(135deg,rgba(155, 155, 241,0.3),rgba(155, 155, 241,0.4),rgba(0,0,255,0.4),rgba(0,0,255,0.4));
*/
}

.main_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact_info {
    align-items: start;
    gap: 20px;
    flex-direction: columns;
    margin: auto;
    /*padding-left:2px;*/
    max-width: 40%;
}

.contact_form>* {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(224, 224, 239);
    color: blueviolet;
    transition: transform 250ms ease;
}

.contact_form>*:hover {
    border: blueviolet solid 2px;
    transform: scale(1.08);
}

.contact_form>*::placeholder {
    color: blueviolet;
    font-size: 1vw;
}

.get_in_touch {
    font-family: "Mooli", serif;
    font-weight: bold;
    font-size: 2em;
    color: blueviolet;
    display: inline-block;
    position: relative;
}

.contact_message {
    font-family: "Mooli", serif;
    font-size: 1em;
    color: blueviolet;
    margin-top: 15px;
}

.contact_header {
    background: linear-gradient(90deg, rgb(128, 0, 0), rgb(64, 0, 0), rgb(32, 0, 0));
}

.get_in_touch::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
    background-color: blueviolet;
    width: calc(100% + 1em);
    transform: scaleX(0.1);
    transform-origin: left;
    border-radius: 90px;
    transition: transform 250ms ease;
}

.get_in_touch:hover::after {
    transform: scaleX(1);
}

.contact_submit {
    width: 30%;
    color: white;
    background: linear-gradient(135deg, blue, rgb(155, 155, 241), rgb(155, 155, 241));
}

.contact_submit:hover {
    background: linear-gradient(135deg, rgb(155, 155, 241), blue);
}

.contact_us {
    width: 50%;
    height: 100vh;
    background-image: url("../Images/contact_page_background_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgb(242, 225, 225);
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 5vw;
}

.contact_us>h1 {
    max-width: 60%;
    text-align: center;
}

@media(max-width:800px) {
    .contact_info {
        width: 80vw;
    }

    .contact_us {
        display: none;
    }
}

@media screen and (max-width:440px) {
    .intro_container {
        height: fit-content;
        padding: 100px;
    }
}