@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

body * {
  box-sizing: border-box;
}
.logo{
  background-color: brown;
  height: 55px;
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.logo img{
  height: 38px;
  margin-left: 2rem;
  margin-top: 1.3rem;
}
.main-login {
  width: 100vw;
  height: 100vh;
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  color: white;
  font-size: 2.5vw;
}

.left-login-image {
  width: 35vw;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.left-login-image:hover {
  transform: rotate(-5deg) scale(1.1);
  opacity: 0.9;
}

.left-login-image::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #ff6f61;
  border-radius: 10px;
  opacity: 0;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.right-login {
  zoom: 91%;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px #000000a4;
  background-color:rgb(221, 221, 247);
  padding-left: 70px;
  padding-right: 70px;
}

.card-login > h1 {
  color: rgb(208, 50, 50);
  font-weight: 800;
  margin: 0;
  text-align: center;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  position: relative;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.icon1 {
  position: absolute;
  top: calc(55%);
  left: 80.5%;
  font-size: 25px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #E6E6FA;
  color: #030707de;
  font-size: 12pt;
  box-shadow: 0px 3px 10px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.textfield > input::placeholder {
  color: #000000;
}

.btn-login,
#google-login {
  width: 100%;
  padding: 16px 0;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: white;
  background: rgb(208, 50, 50);
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-login:hover {
  background: rgba(208, 50, 50, 0.9);
}

#google-login:hover {
  background: rgba(208, 50, 50, 0.9);
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }

  .left-login > h1 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login-image {
    width: 40vh;
  }

  .card-login {
    width: 90%;
  }
}
